body {
    background-color: #C2E6F3;
}

h1 {
   background-color: #00002E;
   text-align: center;
   color: white;
   font-family: "Calibri", Sans-serif;
   font-size: 60px;
   margin: 0px;
   height: 70px;
}

nav {
    margin:20px;
    display: inline;
    font-size:20px;
    color: #00002E;
    margin-bottom: 200px;
}

img {
    display:inline;
    /*position: relative;
    left: 250px;*/
    float:right;
}

article {
     color: #00002E;
     margin:20px;
}