/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-giu-2016, 17.45.23
    Author     : amm
*/





body {
    background-color: #D7EBE9;
    font-family: Sans-Serif;
    color:white;
    text-align:center;
}

a {
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

h1 {
   background-color: #0F1C71;
   text-align: center;
   color: white;
   font-family: Sans-serif;
   font-size: 60px;
   margin: 0px;
   height: 90px;
}

#mini_layer
{
    background-color: #67859F;
    height:7px;
    width:100%;
}

#menu {
    width:950px;
    margin:auto auto;
    font-size:22px;
    color: #00002E;
    margin-bottom: 200px;
    display:block;

}

 #navigation li{
  
    float: left;
    padding: 10px;
    margin: 5px auto;
    list-style: none;

 }
#navigation li a {
  color: #0F1C71;
  text-align:center; 
}

#navigation li a:hover
{
  background-color: #67859F;
  padding: 10px;
  border-radius: 10px;
  
 }
 #navigation li a:active
{
  background-color: #D7EBE9;
  padding: 10px;
  border-radius: 10px;

 }

.box {
    background-color: #67859F;
    border-radius: 20px;
    padding:30px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    height: 100%;
    width: 40%;
    margin-left:auto;
    margin-right: auto;
    color: white;
    display:block;
}

.image
{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    width: 350px;
    height: 500px;
    position:relative;
}

#footer{
    width:100%;
    background-color: #0F1C71;
    padding: 0px;
    margin-top: 0px;
    text-align:center;
    font-size: 13px;
    position: relative;
    top:400px;
    bottom: 0; 
    left: 0; 
    display:block;
    height: 50px;
    clear:both;
    
}

table
{
    
    margin-right: auto;
    margin-left: auto;
    height: 350px;
    position:relative;
}

.messaggi_errore
{
    color:red;
    position:relative;
    top:15px;
}

#su_di_noi
{
    text-align: justify;
}

#bottone 
{
    cursor: pointer;
    font: bold 14px sans-serif;
    color: white;
    padding: 10px 20px;
    border: solid 1px #0F1C71;
    background-color: #0F1C71;   
    position:relative;
    top:10px;
    border-radius: 5px;
}

select, .scelta
{
    border-radius:5px;
    font-size:14px;
    padding:3px;
    border: none;

}


